
.card-container{
    background-color: black;
    border-radius: 10px;
    height: 500px;
    text-align: justify;
    color: rgba(240, 248, 255, 0.521);
    margin: 20px;
    position: relative;
    
}

.custom-card{
    padding: 10px;
}

.custom-card h5{
    margin-top: 5px;
}
.custom-card img{
    border-radius: 10px;
}



.btn-custom{
    width: 100%;
    position: absolute;
    bottom: 0%;
    border: none;
    background-color: #ffe1b3a8;
    border-radius: 0px 0px 8px 8px;
    height:30px;
    transition: 0.6s;
}

.btn-custom:hover{
    background-color: rgba(255, 166, 0, 0.651);
}